.popup__button-save {
  border: none;
  background-color: #000;
  color: #fff;
  margin-top: 48px;
  min-width: 358px;
  min-height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 767px) {
  .popup__button-save {
    margin-top: 45px;
    min-width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__button-save:hover {
  opacity: 0.8;
  border-radius: 2px;
  cursor: url(../../../image/Layer\ 1\ 1.svg), pointer;
}