.popup__button-cancel {
  margin: 155px 0 8px 479px;
  background-image: url(../../../image/Close\ Icon.svg);
  background-size: cover;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
}

@media (max-width: 767px) {
  .popup__button-cancel {
    margin: 87px 0 16px 264px;
    max-width: 20px;
    max-height: 20px;
  }
}

.popup__button-cancel:hover {
  opacity: 0.6;
  cursor: url(../../../image/Layer\ 1\ 1.svg), pointer;
}