.header__logo {
  display: block;
  background-image: url(../../../image/logo.svg);
  background-repeat: no-repeat;
  background-position: left;
  min-width: 142px;
  min-height: 33px;
  padding: 45px 0 41px;
}

@media (max-width: 767px) {
  .header__logo {
    margin-left: 27px;
    background-image: url(../../../image/logo-mobile.svg);
    padding: 28px 0 31.6px;
    min-width: 103.74px;
    min-height: 24.4px;
  }
}