.popup__item {
  width: 100%;
  padding: 5px 0 10px 0;
  margin: 29px 0 0;
  border: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__item:first-child {
  margin-top: 47px;
}

@media (max-width: 767px) {
  .popup__item {
    width: 238px;
  }

  .popup__item:first-child {
    margin-top: 75px;
  }
}

.popup__item:invalid {
  border-bottom: 1px solid red;
}

.popup__item:focus {
  outline: none;
}